{% extends "bootstrap/base.html" %}

{% block head %}
  <meta charset="utf-8">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Miraikomachi2019 | Unity WebGL Player </title>
  <link rel="shortcut icon" href="{{url_for('static', filename = 'kakonokomachi/TemplateData/favicon.ico')}}">
  <link rel="stylesheet" href="{{url_for('static', filename = 'kakonokomachi/TemplateData/style.css')}}">
  <script src="{{url_for('static', filename = 'kakonokomachi/TemplateData/UnityProgress.js')}}"></script>  
  <script src="{{url_for('static', filename = 'kakonokomachi/Build/UnityLoader.js')}}"></script>
  <script>
    var gameInstance = UnityLoader.instantiate("gameContainer", "{{url_for('static', filename = 'kakonokomachi/Build/builds.json')}}", {onProgress: UnityProgress});
  </script>
{% endblock %}

{% block content %}
  <div class="webgl-content">
  <div class="container">
      <div class="page-header text-primary my-4">
          <h2>Kakono Komachi | {{bow.created_at}}のお辞儀</h2>
      </div>
    </div>
    <div id="gameContainer" style="width: 960px; height: 600px"></div>
    <div class="footer">
      <div class="webgl-logo"></div>
      <div class="fullscreen" onclick="gameInstance.SetFullscreen(1)"></div>
      <div class="title">Miraikomachi2019</div>
    </div>
  </div>
{% endblock %}
